<div class="form-check">
  <input class="form-check-input" name="<%= input.name %>" type="<%= input.type %>" value="" id="<%= input.id %>" checked>
  <label class="form-check-label" for="<%= input.id %>">
    <%= input.content %>
  </label>
</div>