<% const header = {
    button: {
        id: 'closeBtn',
        dismissTarget: 'modal'
    },
    class: 'modal-header',
    title: {
        id: 'modalTitle',
        class: 'modal-title',
    }
}; 

button = {
    id: 'backBtn',
    class: 'btn btn-link',
    attrs: {
        'data-mdb-modal-init': '',
        'data-mdb-target': '#modal',
        'data-mdb-dismiss': 'modal'
    },
    content: 'Regresar'
}; %>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="<%= header.title.id %>">
    <div class="modal-dialog">
        <div class="modal-content">
        
        <%- include('./header', { header }) %>

        <div class="modal-body dark">
            <form id="form" class="row g-3" novalidate>
                <% if (form.selects) { %>
                    <%- include('./selectList', { inputs: form.selects }) %>
                <% } %>

                <%- include('./outlineInputList', { inputs: form.inputs }) %>

                <% if (form.checkboxes) { %>
                    <%- include('./checkboxList', { inputs: form.checkboxes }) %>
                <% } %>

                <div class="col-12">
                    <%- include('./button', { button }) %>
                    <button id="submitBtn" type="submit" data-mdb-ripple-init class="btn btn-primary"></button>
                </div>
            </form>
        </div>

        </div>
    </div>
</div>