<% const items = [
    { 
        content: 'Productos', 
        href: '/productos', 
        isActive: currentRoute === '/productos'
    },
    {
        content: 'Proveedores',
        href: '/proveedores',
        isActive: currentRoute === '/proveedores'
    },
    { 
        content: 'Requisiciones', 
        href: '/requisiciones', 
        isActive: currentRoute === '/requisiciones' 
    },
    {
        content: 'Recepciones de compra',
        href: '/recepciones-compra',
        isActive: currentRoute === '/recepciones-compra'
    },
    {
        content: 'Salidas de almacén',
        href: '/salidas-almacen',
        isActive: currentRoute === '/salidas-almacen'
    },
    {
        content: 'Consumo de producto',
        href: '/consumos-producto',
        isActive: currentRoute === '/consumos-producto'
    },
].map(item => ({
    ...item,
    class: `nav-link ${ item.isActive ? 'active' : ''}`
})); %>

<ul class="<%= listClass %>">
    <% items.forEach(item => { %>
        <li class="nav-item py-1">
            <a class="<%= item.class %>" href="<%= item.href %>" 
                <%= item.isActive ? 'aria-current="page"' : '' %>
            >
                <%- item.content %>
            </a>
        </li>
    <% }); %>
</ul>
