<% const header = {
    button: {
        id: modal.header.button.id,
        dismissTarget: 'modal'
    },
    class: 'modal-header',
    title: {
        id: modal.header.title.id,
        content: modal.header.title.content,
        class: 'modal-title',
    }
}; 

const form = {
    id: modal.form.id,
    tokenInput: modal.form.tokenInput || '',
    inputs: modal.form.inputs,
    button: modal.form.submitButton,
    cancelButton: modal.form.cancelButton || '',
}; %>

<div id="<%= modal.id %>" class="modal fade" tabindex="-1" 
    aria-labelledby="<%= header.title.id %>"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <%- include('../../../shared/header', { header }) %>

            <div class="modal-body dark">
                <%- modal.socialLogin || '' %>

                <form id="<%= form.id %>" class="row g-3" novalidate>
                    <%- form.tokenInput %>

                    <%- include('../../../shared/outlineInputList', { inputs: form.inputs }) %>

                    <div class="col-12">
                        <%- form.cancelButton %>

                        <%- include('../../../shared/submit', { button: form.button }) %>
                    </div>
                </form>

                <%- modal.recoverButton || '' %>
            </div>
        </div>
    </div>
</div>